aiortc==1.2.1
av==8.0.3
matplotlib==3.4.2
numpy==1.21.1
opencv-python-headless==.5.5.64
pydub==0.25.1
streamlit>=0.84.2
streamlit_webrtc>=0.25.0
typing_extensions==3.10.0.0
openpyxl
torch==1.10.1
torchvision==0.11.2
torchaudio===0.10.1
ipython
psutil
PyYAML>=5.3.1
tqdm==4.64.1
mediapipe==0.9.1.0